# Environment variables
.env
.env.local
backend/.env
frontend/.env.local

# Virtual Environment
.venv
venv/

# Python
__pycache__/
*.py[cod]

# ML Models & Data
*.pkl
*.csv
archive/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Frontend
frontend/node_modules/
frontend/dist/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db